@using OnThisDay.Models;
@model OnThisDay.Models.OTD.Root;

@foreach(var e in @Model.events){
	<div class="card" style="width: 18rem;">
  <div class="card-body">
	<h5 class="card-title">@e.year</h5>
	<p class="card-text">@e.text</p>
  </div>
</div>
}
